asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.4
django-crispy-forms==2.4
package_name==0.1
pillow==11.3.0
psycopg2-binary==2.9.11
PyMySQL==1.1.2
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
gunicorn
whitenoise==1.4.0

